<footer>
  <small>&copy; 2018 Paul Sebastian Bruno</small>
  <ul>
    <li><a href="https://soundcloud.com/paulsebastianbruno"><img src="/images/brand-logos/soundcloud-black.png" alt="Soundcloud"></a></li>
    <li><a href="https://www.instagram.com/paulsebastianbruno"><img src="/images/brand-logos/instagram-black.png" alt="Instagram"></a></li>
    <li><a href="https://www.facebook.com/Paul-Sebastian-40159429554/"><img src="/images/brand-logos/facebook-black.png" alt="Facebook"></a></li>
    <li><a href="https://www.twitter.com/psebastianbruno"><img src="/images/brand-logos/twitter-black.png" alt="Twitter"></a></li>
    <li><a href="https://vsco.co/paulsebastianbruno"><img src="/images/brand-logos/vsco-black-16@1x.png" alt="VSCO"></a></li>
    <li><a href="https://paulsebastianbruno.tumblr.com/"><img src="/images/brand-logos/tumblr-dark.png" alt="Tumblr"></a></li>
  </ul>
</footer>
