<nav id="main">
  <ul>
    <li><a href="/bio">Bio</a></li>
    <li><a href="/music">Music</a></li>
    <li><a href="/film">Film</a></li>
    <li><a href="/writing">Writing</a></li>
    <li><a href="/social">Social</a></li>
    <li><a href="/other-endeavors">Other Endeavors</a></li>
    <li><a href="/friends">Friends</a></li>
</nav>
