body {
  /* dimensions, padding/margin-ing */
  padding: 0;
  margin: 0;
  /* text-styling */
  font-family: sans-serif;
  color: #1c1c1c;
}

/* styles to be applied when the "Usual" font is loaded from Adobe TypeKit */
.wf-active body {
  /* text-styling */
  font-family: "usual", sans-serif;
}

header {
  text-transform: uppercase;
  font-size: 1.9rem;
}

header a {
  text-decoration: none;
  color: #1c1c1c;
}

header h1 {
  /* dimensions, padding/margin-ing */
  margin: 0 0 8px;
  width: 300px;
  /* text-styling */
  word-spacing: 300px;
  font-size: 2.8rem;
  font-weight: normal;
}

header h1 mark {
  background-color: transparent;
}

header h1 .subdomain {
  color: #ddd;
}

header h1 .tld {
  color: #ddd;
}

.header-breadcrumb-highlight {
  background-color: #1c1c1c;
  color: white;
}

nav ul {
  /* dimensions, padding/margin-ing */
  margin: 15px 0;
  padding: 15px 0;
  display: inline-block;
  /* text-styling */
  list-style: none;
  font-size: 1.9rem;
  text-transform: uppercase;
  cursor: default;
}

nav ul::before {
  content: "/";
}

nav ul li {
  display: inline-block;
}

nav ul li * { /* for background */
  color: #ddd;
  text-decoration: none;
}

nav ul li *:hover {
  color: #1c1c1c;
  cursor: pointer;
}

nav ul li.active * {
  background-color: #1c1c1c;
  color: white;
}

nav ul.active > :not(.active) {
  display: none;
}

nav ul.active:hover > :not(.active) {
  display: inline-block;
}

nav#section {
  position: absolute;
  top: 0;
  left: 310px;
}
nav#section ul {
  margin-top: 0px;
}
nav#section ul li {
  display: inline-block;
  font-size: 1.8em;
  margin: 0 0 0 20px;
}
nav#section ul li:first-child {
  margin-left: 0;
}
nav#section ul li * { /* for background */
  background-color: #1c1c1c;
  color: white;
}

nav#section ul li *:hover {
  background-color: white;
  color: #1c1c1c;
}

footer ul {
  display: flex;
  list-style: none;
  padding: 0;
}

footer li {
  display: inline-block;
}

footer li img {
  vertical-align: middle;
}

footer li::before {
  content: "|";
  margin: 0 .75em;
  vertical-align: middle;
}
footer li:first-child::before {
  content: "";
  margin: 0;
}

main {
  max-width: 400px;
  line-height: 1.75em;
}
