<footer>
  <small>&copy; 2018 Paul Sebastian Bruno</small>
  <ul>
    <li><a href="https://github.com/paulsebastianbruno"><img src="/images/brand-logos/github-octocat-white.png" alt="GitHub"></a></li>
    <li><a href="https://www.linkedin.com/in/paul-bruno-9250667/"><img src="/images/brand-logos/linkedin-in-white.png" alt="LinkedIn"></a></li>
  </ul>
</footer>
