<!DOCTYPE html>
<html>
<head>
  <% site.section = 'recently';
     site.page = '';
     site.subnav = true; %>
  <% include /partials/header.ejs %>
</head>

<%# TODOS:
* Fix FOIT in desktop Safari (still discernably happens there, though does not in Chrome, Firefox, et. al.; might also happen with iOS Safari, but it is hard to tell)
* 
%>
<body>

  <% include /partials/masthead.ejs %>

  <% include /partials/nav.ejs %>

  <main>
    <span>A log, a trace, a trail of the things I'm learning and helping others learn.</span>
  </main>

  <% include /partials/footer.ejs %>

</body>
</html>
