<!DOCTYPE html>
<html>
<head>
  <% site.section = 'summary';
     site.page = '';
     site.subnav = false; %>
  <% include /partials/header.ejs %>
</head>

<%# TODOS:
* Fix FOIT in desktop Safari (still discernably happens there, though does not in Chrome, Firefox, et. al.; might also happen with iOS Safari, but it is hard to tell)
* 
%>
<body>

  <% include /partials/masthead.ejs %>

  <% include /partials/nav.ejs %>

  <main>
    <span>Seasoned, curious, creative builder and fixer of web software; active since the web’s infancy (ca. 2000); JavaScript lover, experienced in many others; remote veteran (over 6 yrs. and counting); always seeking the intersection of praxis and passion, experience and enthusiasm, work and play.</span>
  </main>

  <% include /partials/footer.ejs %>

</body>
</html>
