  <ul id="recently-subnav"<%- site.page ? ' class="active"' : '' %>>
    <li<%- site.page === 'learned' ? ' class="active"' : '' %>><a href="/recently/learned">Learned</a></li>
    <li<%- site.page === 'taught' ? ' class="active"' : '' %>><a href="/recently/taught">Taught</a></li>
  </ul>
