  <ul id="web-subnav"<%- site.page ? ' class="active"' : '' %>>
    <li<%- site.page === 'resume' ? ' class="active"' : '' %>><a href="/web/resume">Résumé</a></li>
    <li<%- site.page === 'portfolio' ? ' class="active"' : '' %>><a href="/web/portfolio">Portfolio</a></li>
    <li<%- site.page === 'thoughts' ? ' class="active"' : '' %>><a href="/web/thoughts">Thoughts</a></li>
  </ul>
